body {
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(243, 243, 243)
}

header,
nav,
footer,
main {
    margin: 0 auto;
    max-width: 760px;
}

header{
    display: flex;
    align-items: right;
    justify-content: left;
    padding: 1.5rem;
    color: plum;
    font-family: Tajawal, Candara, Arial, sans-serif;
    background-color: #f2e9e4;
}
header img {
    float: right;
}

footer {
    width: 625px;
    padding: 10px 100px;
    border-radius: 10px;
}

h1 {
    width: 600px;
    margin: 20px;
    font-size: 2.5rem;
}

img {
    border-radius: 10px;
    box-shadow: 6px 6px 3px rgb(153, 153, 153);
    width: 200px;
    float: right;
    margin-top: -90px;
    object-fit: cover;
}

hr.solid {
    border-top: 2px solid #bbb;
}

.assignmentlink,
li {
    margin: 10px 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-weight: 700;
}

#currentdate {
    color: darkmagenta;
}

footer {
    text-align: center;
    margin: 0px 0px 100px 15px
}