@media (min-width: 65em) {
    body {
        margin: 0 auto;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    header img {
        width: 20%;
    }
}