@media (min-width: 36.5em) {
    body {
        margin: 0 auto;
    }
    nav ul {
        display: flex; 
    }
    nav ul li {
        flex: 1 1 100%;
    }
    main section img{
        width: 100%;
        height: auto;
        box-shadow: 0 0 6px gray;
        float: left;
    }
}
    